/************************ candidates */
.card-wrapper {
    max-width: 1300px;
    padding: 24px 0;
    margin: 0 auto;
    font-family: var(--GT-Walsheim);
}

.card-inner-w {
    padding: 0 15px;
}

.card-wrapper .heading h2 {
    color: var(--color-gray-10);
    font-size: 28px;
    font-weight: var(--font-weight-normalBold);
    line-height: 1;
    letter-spacing: -0.75;
}

.cardComponent {
    display: grid;
    grid-gap: 8px 0;
    margin-top: 24px;
}

.card-border {
    padding: 16px;
    border-radius: var(--border-radius-small);
    border: 1px solid var(--btn-shadow-color);

    display: grid;
    grid-gap: 16px;
}

.candidateDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.candidateDetails div {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-gray-10);
}

.candidate-imgWrapper {
    position: relative;
    margin-inline-end: 8px;
}


.candidate-imgWrapper .icon {
    font-size: 10px;
    position: absolute;
    bottom: -3px;
    right: 0;
    color: var(--color-info) !important;
}

.candidateDetails img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.candidateDetails .candidate-name {
    font-size: 0.875rem;
}

.candidateDetails .icon-w {
    width: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.candidateDetails .icon {
    font-size: 11px;
    color: var(--color-gray-10);
}

.card-border .card {
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    border-radius: var(--border-radius-small);
}


.card-detailsImg {
    width: 100%;
    border-radius: var(--border-radius-small);
}

.card-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: relative;
}

#card.resize {
    /* position: fixed;
    top: 0;
    left: 0; */
    height: 1080px;
    width: 1080px;
    z-index: -1;
    overflow: auto;
    /* pointer-events: none; */
}

#card.resize .cardImg {
    display: block;
    position: absolute;
    border: 8px solid var(--white);
}

.cardImg img {
    width: 100%;
    border-radius: 50%;
}

.cardImg {
    display: none;
}

/* Tinubu Avatar */
.tinubuCard .cardImg {
    border-radius: 50%;
    width: 391px;
    height: 391px;
    top: 319px;
    left: 351px;
}

/* pObi Avatar */
.peterObiCard .cardImg {
    border-radius: 50%;
    width: 293px;
    height: 293px;
    top: 471px;
    left: 172px;
}

/* Atiku Avatar */
.atikuCard .cardImg {
    border-radius: 50%;
    width: 225px;
    height: 225px;
    top: 610px;
    left: 328px;
}

/* voiceNig Avatar */
.voiceNig .cardImg {
    border-radius: 50%;
    width: 145px;
    height: 145px;
    top: 571px;
    left: 591px;
}

/* ------------------------------------------------------ */
/* @media */
@media only screen and (min-width:640px) {
    .card-inner-w {
        padding: 0 30px;
    }

    .cardComponent {
        grid-gap: 8px 8px;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width:960px) {
    .card-wrapper {
        max-width: 1300px;
        padding: 48px 0 80px 0;
        margin: 0 auto;
        font-family: var(--GT-Walsheim);
    }

    .card-inner-w {
        padding: 0 40px;
    }

    .cardComponent {
        grid-gap: 24px 24px;
        grid-template-columns: repeat(4, 1fr);
    }

}

/* /@media */